<!-- Show all @sports. Each sport should include a link to view all trips, states, and users--> 
Filter by State:
<form action="/trip/all_sports/<% params[:input] %>">
  <input type="text" name="input">
  <input type="submit" name="submit">Go</input>
</form>